{% load static %}


    <div style="height: 892px;">
        <div class="header-blue">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">X-App Logo</a>
                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navcol-1">

                    {% if user.is_authenticated %}

                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Account</a>

                                {% if user.is_traider %}

                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" role="presentation" href="{% url 'traider:dashboard-home' %}">Dashboard</a>
                                    <a class="dropdown-item" role="presentation" href="#">Message to support</a>
                                    <a class="dropdown-item" role="presentation" href=" {% url 'logout' %} ">Logout</a>
                                </div>

                                {% else %}

                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" role="presentation" href="{% url 'customer:customer-dashboard-home' %}">Dashboard</a>
                                    <a class="dropdown-item" role="presentation" href="#">Message to support</a>
                                    <a class="dropdown-item" role="presentation" href=" {% url 'logout' %} ">Logout</a>
                                </div>
                                {% endif %}
                            </li>
                        </ul>

                    {% else %}

                        <ul class="nav navbar-nav ml-auto">
                        </ul>

                        <span class="navbar-text">
                            <a class="login" href="{% url 'login' %}">Log In</a>
                        </span>
                        <a class="btn btn-light action-button" role="button" href="{% url 'register' %}">Sign Up</a>

                     {% endif %}

                    </div>
                </div>
            </nav>
            <div class="container text-monospace hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                        <h1>The revolution is here.</h1>
                        <p>Mauris egestas tellus non ex condimentum, ac ullamcorper sapien dictum. Nam consequat neque quis sapien viverra convallis. In non tempus lorem. </p><button class="btn btn-light btn-lg action-button" type="button">Learn More</button></div>
                    <div
                        class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                        <div class="iphone-mockup"><img class="device" src="{% static 'pages/img/iphone.svg' %} ">
                            <div class="screen"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
